<footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
  <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/" aria-label="Bootstrap">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-journal-bookmark-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8z"/>
  <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
  <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
</svg>
          <span class="fs-5">HR Module</span>
        </a>
        <ul class="list-unstyled small">
          <li class="mb-2">Designed and built for employees productivity with the help of our developer</li>
          <li class="mb-2">Code licensed by Sanchita</li>
         
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          
          <li class="mb-2"><%= link_to 'About Us' , about_path, target: '_blank'%></li>
          <li class="mb-2"><%= link_to 'Contact Us' , contact_path, target: '_blank'%></li>
          <li class="mb-2"><%= link_to 'Privacy Policy' , privacy_policy_path, target: '_blank'%></li>
          <li class="mb-2"><%= link_to 'Terms and Conditions' , terms_and_conditions_path, target: '_blank'%></li>
          
          
            
            
        </ul>
      </div>
      
      
      
    </div>
  </div>
</footer>